<!--The content below is only a placeholder and can be replaced.-->


<!--HomePage section-->
<header>
    <nav class="sticky">
        <div class="row">
            <ul class="main-nav">
                <li>
                    <a href="#recycling">Recycling</a>
                </li>
                <li>
                    <a href="#IndEffort">What You Can Do</a>
                </li>
                <li>
                    <a href="#Care">Why Care?</a>
                </li>
                <li>
                    <a href="#Gwarming">Global Warming</a>
                </li>
                <li class="Copyright">
                    <div class="row ">
                        <p>Copyright &copy; 2019 by Google_Mentorship. All rights reserved</p>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="appleseed">
        <h1> "If you like honey,
            <br>
            don't go killing all the bees"
        </h1>
        <h3 id="Author">-Joe Strummer & The Mescaleros' Song "Johnny Appleseed"</h3>
        <a class="btn" href=""> Test your knowledge</a>
        <a class="btn" href="">I want to help!</a>
        <div class="row">
            <div class="col-sm-8">
                <img src="css/img/WappLogo.png" alt="applogo" class="appLogo">
            </div>
            <div class="col-sm-12">
                <h2 id="About">
                    About:
                    <p>Enviro is an app that wants to promote environmental awareness
                        by providing the user with crucial information, tasks they can do in their
                        everyday lives, as well letting them test their knowledge with quizzes.
                    </p>
                </h2>
            </div>
        </div>
    </div>
</header>
<!-- Recycling Section-->
<section class="Recycling">
    <recycling class="BadnGood"></recycling>
    <wcando></wcando>

</section>


<router-outlet></router-outlet>