
/* You can add global styles to this file, and also import other style files */
html {
  font-family     : 'Lato', 'Arial', sans-serif;
  font-size       : 20px;
  font-weight     : 300;
  text-rendering  : optimizeLegibility;
}
