/* ########## Recycling Page #############*/
.Recycling {
  background-color: darkgreen;
  border: 15px solid lightgreen;
  color: lightgreen;
}

.Titles {
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 20px;
}


.goodTitle {
  color: rgb(73, 169, 182);
}

.badTitle {
  color: rgb(231, 85, 85);
}


.recyclingbtns {
  border: 1px solid darkgreen;
  color: darkgreen;
  background-color: lightgreen;
}
/* ######### Recycling End ###########*/

