<!--Navigation Bar-->
<header>
  <nav class="sticky">
    <div class="row">
      <ul class="main-nav">
        <li *ngFor="let option of options">
          <a href="#{{option}}">{{option}}</a>
        </li>
        <li>
          <p class="Copyright">Copyright &copy; 2019 by Google_Mentorship. All rights reserved</p>
        </li>
      </ul>
    </div>
  </nav>

  <!--Main Page-->
  <div class="appleseed">
    <h1> "If you like honey,
      <br>
      don't go killing all the bees"
    </h1>
    <h3 id="Author">{{songAuthor}}</h3>
    <a class="btn" href=""> Test your knowledge</a>
    <a class="btn" href="">I want to help!</a>
    <div class="row">
      <div class="col-sm-8">
        <img src="assets/img/WappLogo.png" alt="applogo" class="appLogo">
      </div>
      <div class="col-sm-12">
        <h2 id="About">
          About:
          <p>Enviro is an app that wants to promote environmental awareness
            by providing the user with crucial information, tasks they can do in their
            everyday lives, as well letting them test their knowledge with quizzes.
          </p>
        </h2>
      </div>
    </div>
  </div>
</header>