/* You can add global styles to this file, and also import other style files */


html {
  font-family     : 'Lato', 'Arial', sans-serif;
  font-size       : 20px;
  font-weight     : 300;
  text-rendering  : optimizeLegibility;
}

/* Headers */

header {
  background-image     : -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.164))), url("img/forest.jpeg");
  background-image     : linear-gradient(rgba(0, 0, 0, 0.164), rgba(0, 0, 0, 0.116)), url("img/forest.jpeg");
  background-size      : cover;
  background-position  : center;
  height               : 120vh;
  background-attachment: fixed;
}

h1 {
  color: white;
}

h2 {
  /*color: white; */
}





/* ########################################


               MAIN PAGE

##########################################*/

/* LOOGS AND IMAGES */
.appLogo {
  height: 500px;
  width: 500px;
}

/* CopyRight */
.Copyright {
  padding-left: 80px;
  color: white;
}

#Author {
  color: white;
}

a:link,
a:visited {
  color             : #35ec81;
  text-decoration   : none;
  padding-bottom    : 1px;
  border-bottom     : 1px solid #1fdd6e;
  -webkit-transition:border-bottom     0.5s, color;
  transition        :border-bottom     0.5s, color;
}

a:active,
a:hover {
  color        : rgb(15, 227, 255);
  border-bottom: 1px solid transparent;
}

/*########  Main - nav #########*/

.sticky {
  box-shadow: 0 2px 2px rgb(1, 102, 1);
  background-color: green;
}


.main-nav {
    float     : right;
    list-style: none;
    margin-top: 15px;
  }
  
  .main-nav li {
    display    : inline-block;
    margin-left: 40px;
  }
  
  .main-nav li a:link,
  .main-nav li a:visited {
    padding        : 6px 0;
    text-decoration: none;
    text-transform : uppercase;
    font-size      : 90%;
    border-bottom  : 2px solid;
  }
  
  .main-nav li a:active,
  .main-nav li a:hover {
    color: #22bcc2;
    border-bottom: 2px solid #14f7ff;
  }

.appleseed {
  position         : absolute;
  height           : 800px;
  width            : 800px;
  top              : 50%;
  left             : 50%;
  -webkit-transform: translate(-50%, -50%);
  transform        : translate(-50%, -50%);
  padding-top: 15px;
}

#About {
  font-size: 28px;
  color: white;
}

/* ##################################### */


/* buttons */

.btn:link,
.btn:visited {
  background-color: green;
  border: 1px solid #36f385;
  border-radius: 145px;
  padding-bottom: 10px;
  transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.btn:active,
.btn:hover {
  background-color: rgb(0, 255, 119);
}



/* ########## Recycling Page #############*/
.Recycling {
  background-color: rgb(71, 88, 246);
}

.BadnGood {
  border: 1px solid blueviolet;
  border-radius: 20px;
  color: rgb(255, 234, 112);
}

.goodTitle {
  color: greenyellow;
}

.badTitle {
  color: red;
}

/* ######### Recycling End ###########*/



